body,
html {
}
.EntryStyles {
  background-image: url(Rocket.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.entryh1 {
  padding-right: 160px;
  padding-top: 178px;
  text-align: right;
  font-size: 450%;
  font-family: monospace;
}

.entryh3 {
  padding-top: 300px;
  padding-bottom: 55px;
  text-align: left;
  padding-left: 70px;
  color: antiquewhite;
  text-decoration: none;
  font-size: larger;
  font-family: monospace;
}
