.intro {
  padding-top: 40px;
}

.services {
  padding-top: 50px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.services h4 {
  background-color: #7b8ca2;
  color: white;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.services .block {
  margin-bottom: 70px;
  border: 2px;
  border-style: dotted;
  text-align: center;
  display: inline-block;
  width: 30%;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
}

.hr {
  margin: 40;
}
.topicBox {
  margin: none;
  border-left: none;
  padding: none;
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
}
.topics {
  border: 1px #ccc solid;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background-color: black;
  margin: none;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
.topics h3 {
  background-color: black;
  color: white;
  padding: 50px;
  font-size: 30px;
}

.topics ul {
  padding: 0;
  padding-left: 0px;
  list-style: none;
  color: #f999;
  background-color: white;
  padding: 30px;
  border: black 5px;
}

.topics li {
  padding-bottom: 6px;
  border-bottom: solid 2px #333;
  padding: 20px;
  color: black;
}

.topics a {
  color: black;
  letter-spacing: 0.8em;
}

.socialsBox {
  width: 38%;
  display: inline-block;
  padding: 30px;
  background-color: grey;
  color: black;
  box-sizing: border-box;
}

.socials {
  background-color: white;
  padding: 50px;
}

.title1 {
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.socialsBox p {
  font: 16px;
  text-align: justify;
}

.socialsBox ul {
  padding: 10px;
  list-style: none;
  color: #f999;
  background-color: red;
  padding: 30px;
  border: black 5px;
}

.socialsBox li {
  list-style: none;
  padding: 10px;
}

#fa2 {
  padding: 10px;
  font-size: 30px;
  width: 25px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  display: inline;
}
