.App {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0;
  text-align: center;
  background-image: url(BGgradientInv.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.topMargin hr {
  border: 80px solid black;
}

.mainHeader {
  color: rgb(0, 0, 0);
  padding-top: 60px;
  padding-bottom: 70px;
  font-size: 25px;
  margin-top: 0px;
  align-content: center;
  background-image: url(planeImage.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainHeader a {
  color: rgb(162, 169, 177);
}

.mainHeader h1 {
  font-size: 120px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  color: rgb(108, 117, 125);
  padding-left: 60px;
}

.titletxt {
  display: inline-block;
  text-align: center;
  color: rgb(108, 117, 125);
  padding-bottom: 30px;
}

.subHeader {
  margin-top: 15px;
}

.overview {
  background-size: 100%;
  font-family: "Lucida Sans Unicode";
}

.overview h1 {
  color: white;
  text-align: left;
  padding-left: 40px;
  background-color: rgba(75, 75, 75, 0.123);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.slider {
  overflow: hidden;
  margin: 10%;
  border: 2px solid white;
  border-color: white;
  border-radius: 5px;
}

.slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 25%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
